- if current_user.is_manager
  .container
    %span Add a comment
    = form_with model: [ @ticket, @ticket.comments.build ] do |f|
      .mb-3
        = f.text_area :body,required: true,class: 'form-control', rows: 9
      .mb-3
        = f.submit 'Post',class: 'btn btn-primary'
