%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
	.container
		= link_to 'Simple Ticket System', root_path, class: 'navbar-brand'
		.collapse.navbar-collapse#navbarNav
			%ul.navbar-nav.ml-auto
				%li.nav-item
					- if current_user
						= link_to 'Sign Out',sign_out_path, data: { turbo_method: :delete }, class: 'nav-link'
